{%  extends 'base/base.html' %}
{% load static %}
{% block contenido %}

{% if perms.vianda.add_vianda %}


    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">

                <form id="formulario-pedido" enctype="multipart/form-data" method="POST">
                        <fieldset>
                        <legend class="text-center"><span>INGRESE LOS DATOS</span></legend>
                        {{form.errors}}
                        {% csrf_token %}
                        {{vianda_form.as_p}}
                    </fieldset>
                </fieldset>
                <div class="col-auto text-center">
                   <input type="hidden" name="id" value="{{ user.id }}"> 
                   <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                   <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
               </div>
            </form>
         </div></div> </div>     

{%endif%}
{% endblock contenido %}  