{% extends "base/base.html" %}
{% block titulo %}Inicio Sesión{% endblock %}
{% block contenido %}
{% load static %}

{% if perms.vianda.add_vianda %}

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2 class="d-flex justify-content-center mb-3">Lista</h2>
           
              
            <div class="form-group row">
                <label for="cliente" class="col-form-label text-white">Buscar:</label>
                <div class="col-12 col-md-10">
        <form action="#" method="GET">
            <div id="custom-search-input">
                <input type="text" class="form-control" id="cadete" placeholder="Ingresa nombre de cadete" name="buscar">
                    <button type="summit" class="btn btn-success" name="buscar" value="{{ request.POST.buscar }}">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>         
        </form>                    
            </div>
            </div>

                <div id="carrito" class="form-group table-responsive" >
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Frecuencia</th>
                                <th scope="col">Tipo de Menu</th>
                                <th scope="col">Fecha de inicio vianda</th>
                                <th scope="col">Cantidad de viandas</th>
                                <th scope="col">Estado de la vianda</th>
                                <th scope="col">Tipo platos</th>
                            </tr>
    
                        </thead>
                        <tbody class="body">
                            {% for e in viandas %}
                            {% if user.id == e.user.id %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{e.frecuencia}}</td>
                                    <td>{{e.tipo_menu}}</td>
                                    <td>{{e.fecha_inicio_vianda}}</td>
                                    <td>{{e.cantidad}}</td>
                                    <td>{{e.estado}}</td>
                                    <td>{{e.tipo_platos}}</td>
                                   
                                </tr>
                                {%endif%}
                            {% endfor%}
                        </tbody>
                    </table>
                </div> </div></div></div>
{%endif%}
{% endblock contenido %}  

